In [1]:
import pandas as pd

In [2]:
data = {'name':['Micheal',"Mia",'Daniel','Malkova','sunny'],
       'age':[59,28,32,None,36],
       'gender':['m','f','f','f','f'],
       'job':['Dancer','Artist','bowler','player','Singer']}
df = pd.DataFrame(data)

In [3]:
df.head()

      name   age gender     job
0  Micheal  59.0      m  Dancer
1      Mia  28.0      f  Artist
2   Daniel  32.0      f  bowler
3  Malkova   NaN      f  player
4    sunny  36.0      f  Singer

## preprocessing pipeline

- Drop name features
- Impute ages
- turn gender into binary
- One hot encording (job)

In [4]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

In [ ]:
## 1. name drop
## df = df.drop(['name'],axis=1)

## 2. Impute Age 
## imputer = SimpleImputer(strategy = 'mean')

In [ ]:
SimpleImputer()