In [1]:
class Employee:
    pass

In [2]:
emp1 = Employee()
emp2 = Employee()

emp1.first = 'Arjun'
emp1.last = 'khan'
emp1.email = 'arjunappu1001@gmail.com'
emp1.salary = 600000

emp2.first = 'Micheal'
emp2.last = 'jackson'
emp2.email = 'michealjackson1001@gmail.com'
emp2.salary = 450000


emp1.first
# so if we do like this we dont get much benifits from this class method

'Arjun'

In [3]:
class Employee:
    
    raise_amount = 1.04
    
    def __init__(self,first,last,salary):
        self.first  = first
        self.last   = last
        self.salary = salary
        self.email  = first.lower() + last.lower() + '1001.@gmail.com'
        
    def fullname(self):
        return '{} {}'.format(self.first,self.last)
    
    def apply_raise(self):
        return int(self.salary * Employee.raise_amount) # we can call raise_amount by 1. selft.raise_amount 
                                                                                    # 2. Employee.raise_amount

In [4]:
emp1 = Employee('Arjun','appu',65000)
emp2 = Employee('Micheal','jackson',45000)

In [5]:
emp2.fullname()

'Micheal jackson'

In [6]:
print(emp1.salary)
print(emp1.apply_raise())

# And we can call the raise amount by 
print(emp1.raise_amount)
print(emp2.raise_amount)

# display the attributes (or instance variables) of an object in the form of a dictionary.
print(emp1.__dict__)
print(emp2.__dict__) # here we dont get the raise_amount, but 

# print(Employee.__dict__) # we got the raise_amount

65000
67600
1.04
1.04
{'first': 'Arjun', 'last': 'appu', 'salary': 65000, 'email': 'arjunappu1001.@gmail.com'}
{'first': 'Micheal', 'last': 'jackson', 'salary': 45000, 'email': 'michealjackson1001.@gmail.com'}

In [7]:
# we can change the raise_amount by 
Employee.raise_amount = 1.05

print(Employee.raise_amount)
print(emp1.raise_amount)
print(emp2.raise_amount)

1.05
1.05
1.05

In [8]:

# but if we change by through this, 
emp1.raise_amount = 1.06

print(Employee.raise_amount)
print(emp1.raise_amount)
print(emp2.raise_amount)

1.05
1.06
1.05

In [9]:
class Employee:
    
    raise_amount       = 1.04
    number_of_employee = 0
    
    def __init__(self,first,last,salary):
        self.first  = first
        self.last   = last
        self.salary = salary
        self.email  = first.lower() + last.lower() + '1001.@gmail.com'
        
        Employee.number_of_employee +=1 
        # since the each __init__ method  runs every times, we create a new employee and increse the number of employee by 1
        
    def fullname(self):
        return '{} {}'.format(self.first,self.last)
    
    def apply_raise(self):
        return int(self.salary * Employee.raise_amount)

In [10]:
# Initial value of employee
print(Employee.number_of_employee)
print('----------------------------------------')

emp1 = Employee('Arjun','appu',65000)
print(emp1.number_of_employee)
print('----------------------------------------')

emp2 = Employee('Micheal','jackson',45000)
print(emp2.number_of_employee)
print('----------------------------------------')

emp3 = Employee('Mia','khalifa',21000)
print(emp3.number_of_employee)

0
----------------------------------------
1
----------------------------------------
2
----------------------------------------
3

In [11]:
class Employee:
    
    raise_amount       = 1.04
    number_of_employee = 0
    
    def __init__(self,first,last,salary):
        self.first  = first
        self.last   = last
        self.salary = salary
        self.email  = first.lower() + last.lower() + '1001.@gmail.com'
        
        Employee.number_of_employee +=1 
        
    def fullname(self):
        return '{} {}'.format(self.first,self.last)
    
    def apply_raise(self):
        return int(self.salary * Employee.raise_amount)
    
    def set_raise_amount(cls, amount):
        cls.raise_amount = amount

In [12]:
emp1 = Employee('Arjun','appu',65000)
emp2 = Employee('Micheal','jackson',45000)
emp3 = Employee('Mia','khalifa',21000)

In [4]:
class MyClass:
    Name = 'Arjun Khan'
    def __init__(self):
        pass

    def function1(self):
        print("Inside function1")
        
    def function2(self):
        print("My name is ",str(MyClass.Name))
        self.function1()  # Calling function1 from within function2

# Create an instance of MyClass
my_instance = MyClass()

# Call function2
my_instance.function2()

My name is  Arjun Khan
Inside function1